html, body {
    margin: 0;
}

.metaflux {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.message-panel {
    background-color: white;
    z-index: 2;
}

.message-panel-header {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    z-index: 2;
}

.message-panel-header:hover {
    cursor: pointer;
}

.message-panel-body {
    padding: 10px;
    z-index: 2;
}

.editor {
    background-color: grey;
    height: 100%;
}

.button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    z-index: 3;
}

.node {
    position: absolute;
    background-color: white;
    height: 60px;
    width: 100px;
    margin: 5px;
    border-radius: 3px;
    z-index: 1;
}

.node-button-ribbon {
    width: 100%;
    height: 24px;
    cursor: move;
}

.node-button {
    float: right;
    margin-right: 10px;
}

.node-button:hover {
    cursor: pointer;
}

.node-name-input-container {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.node-name {
    text-align: center;
}